@*<div>
    @foreach(var project in @Model)
    {
        <ul>
            <li>Name : @project.Name</li>
            <li>Description :
                <p>
                    @project.Description
                </p>
            </li>
            <li>@project.CreationDate.ToString("yyyy-MM-dd")</li>
            <li><a asp-controller="Project" asp-action="Details">Details</a></li>
        </ul>
    }
</div>*@
<div class="page">
    @foreach (var project in @Model)
    {   
        <div class="project-container">
             <div class="project-description">
                 <h1>@project.Name</h1>
             </div>
            <div class="project-button-container">
                <button class="project-button">Go</button>
            </div>
        </div>       
    }
    
</div>