@model User

<div>
    <form method="post" action="/User/CreateUser">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="email">Mail</label>
        <input type="email" id="email" name="email">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
</div>